body {
    font-family: sans-serif;
    font-size: 14pt;
}

#newUrl {
    font-family: monospace;
    font-size: 14pt;
}

#copyright {
    border: 1px solid;
    margin-top: 20px;
    font-size: 10pt;
}
